@Model<AutomobileInsuranceManagement_AIM.ViewModels.WholePolicyData>

    <div class="d-flex container-fluid">
        @foreach (AutomobileInsuranceManagement_AIM.Models.SP_Return_ActivePolicies_Result policy in ViewBag.userPolicies)//
        {
            <div class="card col-lg-3 my-2 mx-3">
                <div class="card-title ">
                    <h3 class="text-center text-capitalize">
                        @policy.policyName
                    </h3>
                </div>
                <div class="card-body">
                    <div class="d-flex col-12">
                        <label class="fs-5 fw-bold">Renewal:</label>
                        <label>@policy.renewalDate.ToString().Substring(0, 10)</label>
                    </div>
                    <div class="d-flex col-12">
                        <label style="font-size:20px">Automobile:</label>
                        <label class="mt-lg-1 ">@policy.modelName</label>
                    </div>

                </div>

                <div class="card-footer">
                    <div class="d-flex">
                        <button class="btn btn-primary">
                            @Html.ActionLink("Details", "ExpandUserPolicy", "Policy", new { activeId = policy.ActiveId }, new { @class = "button-link" })
                        </button>
                        @if (policy.isActive == false)
                        {
                            <button class="btn btn-primary">
                                @Html.ActionLink("Activate", "ActivateUserPolicy", "Policy", new { activeId = policy.ActiveId }, new { @class = "button-link" })
                            </button>
                        }
                    </div>

                </div>

            </div>
        }
    </div>


