@model AutomobileInsuranceManagement_AIM.Models.user

@{
    ViewBag.Title = "Login";
}
<style>
    .form-group {
        position: relative;
    }

        .form-group > .login-label {
            text-transform: uppercase;
            font-size: 13px;
            color: #a1a2a3;
            transform-origin: 0 0;
            transform: scale(1.4);
            pointer-events: none;
            position: relative;
            z-index: 5;
        }

        .form-group > input {
            width: 100%;
        }

        .form-group > .login-label {
            transition: transform 0.4s;
            transform-origin: 0 0;
            transform: scale(1.4) translateY(20px);
        }

        .form-group.not-empty > .login-label {
            transform: none;
        }

    .form-control {
        border: 0;
        border-bottom: 1px solid #a1a2a3;
    }

        .form-control,
        .form-control:focus,
        .form-control:focus:hover {
            color: #ff8d00;
            background: none;
            outline: none;
        }

            .form-control:focus,
            .form-control:focus:hover {
                border-bottom: 1px solid #ff8d00;
            }


    h1 {
        font-weight: bold;
        margin: 0;
    }

    h2 {
        text-align: center;
    }

    p {
        font-size: 14px;
        font-weight: 100;
        line-height: 20px;
        letter-spacing: 0.5px;
        margin: 20px 0 30px;
    }

    span {
        font-size: 12px;
    }

    #login button {
        border-radius: 20px;
        border: 1px solid #FF4B2B;
        background-color: #FF4B2B;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 40px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
    }

        #login button:active {
            transform: scale(0.95);
        }

        #login button:focus {
            outline: none;
        }

        #login button.ghost {
            background-color: transparent;
            border-color: #FFFFFF;
        }

    #login form {
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 50px;
        height: 100%;
        text-align: center;
    }

    #login input {
        background-color: #eee;
        border: none;
        padding: 12px 15px;
        margin: 8px 0;
        width: 100%;
    }

    .authcontainer {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        position: relative;
        overflow: hidden;
        max-width: 100%;
        min-height: 480px;
    }

    .form-container {
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.6s ease-in-out;
    }

    .sign-in-container {
        left: 0;
        width: 50%;
        z-index: 2;
    }

    .authcontainer.right-panel-active .sign-in-container {
        transform: translateX(100%);
    }

    .sign-up-container {
        left: 0;
        width: 50%;
        opacity: 0;
        z-index: 1;
    }

    .authcontainer.right-panel-active .sign-up-container {
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
        animation: show 0.6s;
    }

    .overlay-container {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: transform 0.6s ease-in-out;
        z-index: 100;
    }

    .authcontainer.right-panel-active .overlay-container {
        transform: translateX(-100%);
    }

    .overlay {
        background: #FF416C;
        background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
        background: linear-gradient(to right, #FF4B2B, #FF416C);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        color: #FFFFFF;
        position: relative;
        left: -100%;
        height: 100%;
        width: 200%;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;
    }

    .authcontainer.right-panel-active .overlay {
        transform: translateX(50%);
    }

    .overlay-panel {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        top: 0;
        height: 100%;
        width: 50%;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;
    }

    .overlay-left {
        transform: translateX(-20%);
    }

    .authcontainer.right-panel-active .overlay-left {
        transform: translateX(0);
    }

    .overlay-right {
        right: 0;
        transform: translateX(0);
    }

    .authcontainer.right-panel-active .overlay-right {
        transform: translateX(20%);
    }

    .social-container a {
        border: 1px solid #DDDDDD;
        border-radius: 50%;
        display: inline-flex;
        /* justify-content: center*/
        align-items: center;
        margin: 0 5px;
        height: 40px;
        width: 40px;
    }
</style>

<div class="justify-content-center d-flex p-5 bg-dark">
    <div id="login" class="col-lg-11 col-md-10 col-sm-10 mt-lg-5">
        <div class="authcontainer col-12" id="container">
            <div class="form-container sign-up-container col-11">
                @using (Html.BeginForm("Register", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal ">
                        <div class="d-flex">
                            <div class="col-lg-6">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.userName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2 text-center" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", placeholder = "example@gmail.com" } })
                                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })


                                    <div class="col-md-10">
                                        <input name="password" id="password" type="password" class="form-control">
                                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-7">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">

                                        @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control", placeholder = "yyyy-mm-dd" } })
                                        @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.mobile, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.mobile, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.mobile, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.profilePic, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input name="profilePic" id="profilePic" type="file">
                                        @Html.ValidationMessageFor(model => model.profilePic, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Register" class="btn btn-default" />
                            </div>
                        </div>  
                    </div>
                }

            </div>
            <div class="form-container sign-in-container col-6">

                @using (Html.BeginForm("Login", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <h4>Policyholder Login</h4>
                    <div class="form-group my-3">
                        @Html.LabelFor(m => m.email, new { @class = "login-label" })
                        @Html.TextBoxFor(m => m.email, new { @class = "form-control col-lg-12" })
                        @Html.ValidationMessageFor(m => m.email)
                        <label class="text-danger">@ViewBag.ExistingEmail</label>

                    </div>

                    <div class="form-group my-3">
                        @Html.LabelFor(m => m.password, new { @class = "login-label" })
                        <input type="password" class="form-control" name="decryptPassword">
                        <label class="text-danger">@Html.ValidationMessageFor(m => m.password)</label>
                        <label class="text-danger">@ViewBag.InvalidCredentials</label>
                    </div>


                    <div class="form-group my-3">
                        <button type="submit" class="btn btn-primary col-lg-10">Access Account</button>
                    </div>
                }
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Welcome Back!</h1>
                        <p>To keep connected with us please login with your personal info</p>
                        <button class="ghost" id="signIn">Sign In</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Hello, Friend!</h1>
                        <p>Enter your personal details and start journey with us</p>
                        <button class="ghost" id="signUp">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(() => {

        $('.form-group').each((i, e) => {
            $('.form-control', e).
                focus(function () {
                    e.classList.add('not-empty');
                }).
                blur(function () {
                    this.value === '' ? e.classList.remove('not-empty') : null;
                });

        });

    });

</script>
<script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });
</script>