@model AutomobileInsuranceManagement_AIM.Models.Automobile

@{
    ViewBag.Title = "AddVehicle";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";

}

<h2>AddVehicle</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Automobile</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.vehicleTypeId, "vehicle_Type", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.vehicleTypeId, ViewBag.vehicle_Type as SelectList, "Please Select", new { @class = "form-control", onchange = "document.forms[0].submit();brandValue()", id = "vehicleTypeId" })
                @Html.ValidationMessageFor(model => model.vehicleTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.companyId, new { @class = "control-label col-md-2", @id = "companies" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.companyId, ViewBag.companyList as SelectList, "Please Select", new { @class = "form-control", onchange = "document.forms[0].submit();", id = "companyId" });

                @Html.ValidationMessageFor(model => model.companyId, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.carmodel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.modelId, ViewBag.modelList as SelectList, "Please Select", new { @class = "form-control", @id = "model",disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.carmodel, "", new { @class = "text-danger" })
            </div>
        </div>





        <div class="form-group">
            @Html.LabelFor(model => model.registrationNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.registrationNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.registrationNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.chassisNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.chassisNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.chassisNumber, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.weight, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.weight, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.weight, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.manufactureYear, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.manufactureYear, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.manufactureYear, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.isInsured, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.isInsured)
                    @Html.ValidationMessageFor(model => model.isInsured, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script>

    $(document).ready(function () { 
          $("#vehicleTypeId option").click(function () {
        $("#companyId").removeAttr("disabled");
    }) 
        if ($("#companyId option").length > 1) {
            $("#model").removeAttr("disabled");
        }
    })

</script>